@charset "UTF-8";

/// @BemEntryName: -=[ navbar-brand ]=-.
/// @BemEntryModName: -=[ mini ]=-.
/// @description: мод navbar-brand уменьшенный.
.navbar-brand_mini {
    height: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
}
