@charset "UTF-8";

/// @BemEntryName: -=[ form ]=-.
/// @description: форма.
.form {
    //background-color: scotch-color-level('default', 10);
    background-color: scotch-color-alpha('default', 'dark');
    border-radius: 5px;
    padding: 15px;
    text-align: center;

    /// @name: -=[ breakpoint ]=-;
    /// @description: функция-помошник работы с медиа запросами (breakpoints);
    /// @prop: xs, sm, md, lg (bootstrap);
    /// @prop: ($maxWidth: x, $minWidth: x, $maxHeight: x, $minHeight: x), где x - число с "px";
    @include breakpoint(md) {
        padding: 30px;
    }
}
