@charset "UTF-8";

/// @BemEntryName: -=[ form ]=-.
/// @description: форма.
.form {
    //background-color: scotch-color-level('default', 10);
    background-color: scotch-color-alpha('default', 'dark');
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
