@charset "UTF-8";

/// @BemEntryName: -=[ reasons ]=-.
/// @BemElementName: -=[ column ]=-.
/// @description: колонка-блок причин или выгод.
.reasons__column {
    padding: 30px 15px 0;

    /// @name: -=[ breakpoint ]=-;
    /// @description: функция-помошник работы с медиа запросами (breakpoints);
    /// @prop: xs, sm, md, lg (bootstrap);
    /// @prop: ($maxWidth: x, $minWidth: x, $maxHeight: x, $minHeight: x), где x - число с "px";
    @include breakpoint($maxWidth: 479px) {
        padding: 25px 15px 15px;
    }

    /// @name: -=[ breakpoint ]=-;
    /// @description: функция-помошник работы с медиа запросами (breakpoints);
    /// @prop: xs, sm, md, lg (bootstrap);
    /// @prop: ($maxWidth: x, $minWidth: x, $maxHeight: x, $minHeight: x), где x - число с "px";
    @include breakpoint(md) {
        padding: 50px;
    }
}
