@charset "UTF-8";

/// @BemEntryName: -=[ navbar-brand ]=-.
/// @BemElementName: -=[ descript ]=-.
/// @description: дескрипт.
.navbar-brand__descript {
    display: inline-block;
    font-size: $font-size-base * 0.80;
    line-height: normal;
    max-width: 240px; /* 340px */
    padding: 5px 20px;
    text-align: left;
    vertical-align: middle;
}
