@charset "UTF-8";

/// @BemEntryName: -=[ bonuse ]=-.
/// @BemElementName: -=[ seq ]=-.
/// @description: порядковый номер бонуса.
.bonuse__seq {
    @extend .font_title;
    font-family: Bristol;
    font-size: 4em;
    color: scotch-color("warning");
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}
