@charset "UTF-8";

/// @sectionName: -=[ guarantee ]=-.
/// @description: секция гарантии.
#guarantee {

    /* переписать по Bem */
    .fa-stack {
        margin: 30px;
    }

    /* переписать на Bem */
    .big-arrow {

        &-sm {
            margin-bottom: 15px;
            margin-top: 15px;
        }

    }
}
