@charset "UTF-8";

/// @sectionName: -=[ scheme-work ]=-.
/// @description: схема работы.
#scheme-work {
    background-color: scotch-color-level('default', 9);
    background-image: url(../img/scheme-work/bg.jpg);
    position: relative;

    /* переписать по BEM */
    .lead-form-wrapper {
        border-radius: 3px;
        background-color: #fff;
        margin-bottom: -156px;
        margin-top: 50px;
        padding: 50px 15px;
        position: relative;
        text-align: center;
    }

}
