@charset "UTF-8";

/// @sectionName: -=[ scheme-work ]=-.
/// @description: схема работы.
#scheme-work {
    background-color: scotch-color-level('default', 9);
    background-image: url(../img/scheme-work/bg.jpg);

    .lead-form-wrapper {
        background-color: #fff;
    }

}
