@charset "UTF-8";

/// @identifiername: -=[ types-ceilings ]=-.
/// @description: типы потолков.
#types-ceilings {
    /*background-color: scotch-color-level('default', 9);*/
    background-color: #fff;
    background-image: url(../img/types-ceilings/bg.png);
    background-position: 100% 50%;
    background-size: auto;
}
