@charset "UTF-8";

/// @varName: -=[ $sizeRhombus_list ]=-.
/// @description: значение размера ромба.
$sizeRhombus_list: 25px; /* 30 | 20 */

/// @varName: -=[ $sizeDiagonalRhombus_list ]=-.
/// @description: значение размера дагонали ромба.
$sizeDiagonalRhombus_list: $sizeRhombus_list * sqrt(2);

/// @varName: -=[ $sizeProtrusion_list ]=-.
/// @description: значение выступа квадрата при повороте за границы.
$sizeProtrusion_list: ($sizeDiagonalRhombus_list - $sizeRhombus_list) / 2;

/// @BemEntryName: -=[ rhombus ]=-.
/// @BemEntryModName: -=[ size ]=-.
/// @BemEntryModValue: -=[ list ]=-.
/// @description: большой ромб.
.rhombus_size_list {
    margin-left: $sizeProtrusion_list;
    @include size($sizeRhombus_list);
}
