<!--
    ![ LEAD-FORM-2 ]
-->
<!--
    @name: -=[ .lead-form-2 ]=-.
    @description: лид форма 2.
    @description: кнопка submit круглая.
    @prop: имя.
    @prop: email.
    @prop: телефон.
-->
<!--
    attribute status invalid validating:
    ------------------------------------
    aria-invalid="true"
-->
<!--
    class status validating (.has-feedback):
    ----------------------------------------
    .has-success
    .has-warning
    .has-error
-->
<!--
    class status validating icon:
    -----------------------------
    .glyphicon-warning-sign (warning)
    .glyphicon-remove (error)
    .glyphicon-ok (success)
-->
<!--
    status validation text (bsXStatus):
    -----------------------------------
    - (успех)
    - (ошибка)
-->
<form class="form form_theme_white lead-form-2 order" action="./mail.php" method="post">
    <fieldset>

        <!-- Form Name -->
        <legend class="form__legend form__legend_theme_white">
            Заполните,
            <div class="small form__legend-second">
                форму заявки для получения консультации
            </div>
        </legend>

        <!-- Text input-->
        <!-- Имя-->
        <div class="form-group has-feedback form-group-md">
            <label class="control-label sr-only" for="bsName">Ваше имя</label>
            <input name="bsName" type="text" placeholder="Ваше имя" class="form__input form__input_theme_white bsName form-control input-md" aria-describedby="bsNameStatus" />
            <span class="help-block sr-only">Как к Вам обращаться: Оля или Иван Петрович</span>
            <!-- help blocks -->
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span class="bsNameStatus sr-only">(успех)</span>
        </div>

        <!-- Email input-->
        <!-- Email -->
        <div class="form-group has-feedback form-group-md">
            <label class="control-label sr-only" for="bsEmail">Ваш Email</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input name="bsEmail" type="email" placeholder="Ваш Email" class="form__input form__input_theme_white bsEmail form-control input-md" aria-describedby="bsEmailStatus" />
            </div>

            <span class="help-block sr-only">Ваша электронная почта</span>
            <!-- help blocks -->
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span class="bsEmailStatus sr-only">(успех)</span>
        </div>

        <!-- Tel input-->
        <!-- Телефон -->
        <div class="form-group has-feedback form-group-md">
            <label class="control-label sr-only" for="bsPhone">Ваш телефон</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <!--<i class="fa fa-mobile" aria-hidden="true"></i>-->
                    <!--<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>-->
                </span>
                <input name="bsPhone" type="tel" placeholder="Ваш номер телефона" class="form__input form__input_theme_white bsPhone validating form-control input-md" aria-describedby="bsPhoneStatus" required="required" />
            </div>
            <span class="help-block sr-only">Для связи с Вами</span>
            <!-- help blocks -->
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span class="bsPhoneStatus sr-only">(успех)</span>
        </div>

        <!-- Button -->
        <!-- Submit -->
        <div class="form-group form-group-md">
            <label class="control-label sr-only" for="bsSubmit">Жду звонка</label>
            <button name="bsSubmit" class="submit form__btn form__btn_theme_peek-out bsSubmit btn btn-warning btn-circle btn-circle_theme_warning">Жду звонка</button>
        </div>

    </fieldset>
</form>
