@charset "UTF-8";

/// @BemEntryName: -=[ contacts ]=-.
/// @BemElementName: -=[ item ]=-.
/// @BemElementModName: -=[ navbar ]=-.
/// @BemElementModValue: -=[ mini ]=-.
/// @description: уменьшенная версия contacts__item_navbar.
.contacts__item_navbar_mini {
    float: left;

    /* переписать по BEM */
    .btn {
        padding-bottom: 0;
        padding-top: 0;
    }
}
