@charset "UTF-8";

/// @varName: -=[ $sizeRhombusElem ]=-.
/// @description: значение размера ромба-картинки* (размер элемента).
$sizeRhombusElem: 150px;

/// @varName: -=[ $sizeMarginElemRhombusBigArrow ]=-.
/// @description: значение отступов между ромбов-картинок в большой стрелке.
$sizeMarginElemRhombusBigArrow: 5px;

/// @varName: -=[ $sizeRhombusBigArrow ]=-.
/// @description: значение размера большой стрелки, состоящей из ромбов-картинок.
$sizeRhombusBigArrow: $sizeRhombusElem*3 + $sizeMarginElemRhombusBigArrow*4;

/// @BemEntryName: -=[ big-arrow ]=-.
/// @require: $sizeRhombusBigArrow.
/// @require: $degRhombus.
/// @description: большая стрелка из ромбов-картинок.
.big-arrow {
    overflow: hidden;
    @include size($sizeRhombusBigArrow);
    transform: rotate($degRhombus);
}
