@charset "UTF-8";

/// @BemEntryName: -=[ reviews ]=-.
/// @BemElementName: -=[ address ]=-.
/// @description: адрес объекта.
.reviews__address {
    @extend .font_color_second;
    font-size: 70%;

    &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        font-smoothing: antialiased;

        content: '\f278'; /* '\f041' */

        margin-right: 5px;
        width: 15px;
    }
}
