<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ about ]=-.
    @description: "почему выбирают нас?".
-->

<section id="about">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <header class="title">
                    <h1 class="h1 title__header">
                        Почему выбирают нас?
                    </h1>
                    <hr class="color-line" />
                </header>
            </div>
        </div>

        <!-- Table of reasons -->
        <div class="reasons">

            <!--
                (.row>(.col-xs-12.col-md-6(.reasons__reason(.row(.col-xs-2(.reasons__seq{0$@3})+.col-xs-10(.reasons__title(lorem1)+.reasons__desc(lorem1)))))+.col-xs-12.col-md-6(.reasons__benefit(.row(.col-xs-2(.reasons__seq{0$@3})+.col-xs-10(.reasons__title(lorem1)))))))*n
            -->

            <!-- 01 -->
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="reasons__reason">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="reasons__seq">01</div>
                            </div>
                            <div class="col-xs-10">
                                <div class="reasons__title">
                                    Цены на 4% ниже рыночных
                                </div>
                                <div class="reasons__desc">
                                    За счёт прямого сотрудничества
                                    с компаниями производителями.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="reasons__benefit">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="reasons__seq">01</div>
                            </div>
                            <div class="col-xs-10">
                                <div class="reasons__title">
                                    Вы экономите
                                    свой бюджет!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 02 -->
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="reasons__reason">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="reasons__seq">02</div>
                            </div>
                            <div class="col-xs-10">
                                <div class="reasons__title">
                                    Широкий выбор вариантов
                                </div>
                                <div class="reasons__desc">
                                    Более 200 готовых решений.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="reasons__benefit">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="reasons__seq">02</div>
                            </div>
                            <div class="col-xs-10">
                                <div class="reasons__title">
                                    Вы экономите время, получая
                                    возможность приобрести потолок
                                    уже сейчас!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 03 -->
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="reasons__reason">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="reasons__seq">03</div>
                            </div>
                            <div class="col-xs-10">
                                <div class="reasons__title">
                                    Гарантия 25 лет
                                </div>
                                <div class="reasons__desc">
                                    Вся продукция проходит строгую
                                    многоступенчатую проверку на
                                    стадии производства и монтажа.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="reasons__benefit">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="reasons__seq">03</div>
                            </div>
                            <div class="col-xs-10">
                                <div class="reasons__title">
                                    Вы получаете спокойствие и уверенность
                                    в высоком качестве продукции и установки.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 04 -->
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="reasons__reason">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="reasons__seq">04</div>
                            </div>
                            <div class="col-xs-10">
                                <div class="reasons__title">
                                    67% заказчиков становятся
                                    нашими постоянными клиентами
                                </div>
                                <div class="reasons__desc">
                                    Бесплатный клиентский сервис,
                                    консультации и поддержка
                                    специалистов на любом этапе.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="reasons__benefit">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="reasons__seq">04</div>
                            </div>
                            <div class="col-xs-10">
                                <div class="reasons__title">
                                    <!--Вы получаете статус члена
                                    закрытого клуба!-->
                                    Вы получаете обращение
                                    элитного закрытого клуба!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="lead-form-wrapper hidden">
                    <div class="lead-form-wrapper__inner">
                        //= ../../modules/forms/lead-form-1.html
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
