<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ advantages ]=-.
    @description: преимущества потолков компании.
-->

<sections id="advantages">
    <!--
    .container>.row>.col-xs-6.col-md-4(.advantage.ball(.ball__img.advantage__img.advantage__img_seq_$+.ball__title+.ball__desc))*6
    -->
    <div class="container">
       <div class="row">
            <div class="col-xs-12">
                <header class="title">
                    <h2 class="h2 title__header">
                        Преимущества наших потолков
                    </h2>
                    <hr class="color-line" />
                </header>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="advantage ball">
                    <div class="ball__img advantage__img advantage__img_seq_1"></div>
                    <div class="ball__title">Эстетичность</div>
                    <div class="ball__desc">
                        Выравнивающий эффект создаёт
                        идеально ровную поверхность.
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="advantage ball">
                    <div class="ball__img advantage__img advantage__img_seq_2"></div>
                    <div class="ball__title">Универсальность</div>
                    <div class="ball__desc">
                        Благодаря отсутствию <i>конденсата</i>
                        используются в помещениях
                        с повышенной влажностью.
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-md-4">
                <div class="advantage ball">
                    <div class="ball__img advantage__img advantage__img_seq_3"></div>
                    <div class="ball__title">Звукоизоляция</div>
                    <div class="ball__desc">
                        Дополнительная звукоизоляция
                        вашей квартиры.
                    </div>
                </div>
            </div>
            <div class="clearfix hidden-xs"></div>
            <div class="col-xs-6 col-md-4">
                <div class="advantage ball">
                    <div class="ball__img advantage__img advantage__img_seq_4"></div>
                    <div class="ball__title">Долговечность</div>
                    <div class="ball__desc">
                        Срок службы натяжных потолков
                        составляет около 50 лет.
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-md-4">
                <div class="advantage ball">
                    <div class="ball__img advantage__img advantage__img_seq_5"></div>
                    <div class="ball__title">Безопасность</div>
                    <div class="ball__desc">
                        Вы и Ваши соседи с низу могут
                        быть спокойны, уходя из дома.
                        Наши натяжные потолки
                        выдерживают до 100 литров
                        воды на квадратный метр.
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="advantage ball">
                    <div class="ball__img advantage__img advantage__img_seq_6"></div>
                    <div class="ball__title">Скорость монтажа</div>
                    <div class="ball__desc">
                        Установка натяжного потолка
                        выполняется за 2 часа.
                    </div>
                </div>
            </div>
        </div>
    </div>
</sections>
