<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ advantages ]=-.
    @description: преимущества потолков компании.
-->

<sections id="advantages">
    <!--
    .container>.row>.col-xs-6.col-md-4(.advantage.ball(.ball__img.advantage__img_seq_$+.ball__title+.ball__desc))*6
    -->
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="advantage ball">
                    <div class="ball__img advantage__img_seq_1"></div>
                    <div class="ball__title"></div>
                    <div class="ball__desc"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="advantage ball">
                    <div class="ball__img advantage__img_seq_2"></div>
                    <div class="ball__title"></div>
                    <div class="ball__desc"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="advantage ball">
                    <div class="ball__img advantage__img_seq_3"></div>
                    <div class="ball__title"></div>
                    <div class="ball__desc"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="advantage ball">
                    <div class="ball__img advantage__img_seq_4"></div>
                    <div class="ball__title"></div>
                    <div class="ball__desc"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="advantage ball">
                    <div class="ball__img advantage__img_seq_5"></div>
                    <div class="ball__title"></div>
                    <div class="ball__desc"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="advantage ball">
                    <div class="ball__img advantage__img_seq_6"></div>
                    <div class="ball__title"></div>
                    <div class="ball__desc"></div>
                </div>
            </div>
        </div>
    </div>
</sections>
