<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ bonuses ]=-.
    @description: дополнительные бонусы при установки потолка.
    @prop: отсутствует контейнер (.container), т.е. он расположен выше, у родителя.
    @prop: эта секция "#bonuses" && "#our-projects" на PC+ делят одну строку, в два столбика.
-->

<section id="bonuses">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <header class="title title_margin_left">
                    <h2 class="h2 title__header">
                        Дополнительные бонусы
                        при установки потолка
                    </h2>
                    <hr class="color-line color-line_vertical" />
                </header>
            </div>
        </div>

        <div class="row">

            <!--
                (.bonuse(.col-xs-12.col-md-6(img.bonuse__img.img-responsive.img-rounded[src="assets/img/bonuses/bonuse_$@1.jpg" alt="alternate"])+.col-xs-12.col-md-6(.row(.col-xs-2(.bonuse__seq{$@1})+.col-xs-10(.bonuse__desc(lorem5))))))*3
            -->

            <div class="bonuse">
                <div class="col-xs-12 col-md-6">
                    <img src="assets/img/bonuses/bonuse_1.jpg" alt="alternate" class="bonuse__img img-responsive img-rounded" />
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="bonuse__seq">1</div>
                        </div>
                        <div class="col-xs-10">
                            <div class="bonuse__desc">
                                Дарим карниз или светильник.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bonuse">
                <div class="col-xs-12 col-md-6">
                    <img src="assets/img/bonuses/bonuse_2.jpg" alt="alternate" class="bonuse__img img-responsive img-rounded" />
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="bonuse__seq">2</div>
                        </div>
                        <div class="col-xs-10">
                            <div class="bonuse__desc">
                                Пенсионерам и новосёлам 10% скидка.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bonuse">
                <div class="col-xs-12 col-md-6">
                    <img src="assets/img/bonuses/bonuse_3.jpg" alt="alternate" class="bonuse__img img-responsive img-rounded" />
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="bonuse__seq">3</div>
                        </div>
                        <div class="col-xs-10">
                            <div class="bonuse__desc">
                                При заказе 2x потолков - 3ий в подарок.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
