<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ clients-partners ]=-.
    @description: наши клиенты и партнёры.
-->

<section id="clients-partners">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <header class="title">
                    <h2 class="h2 title__header">
                        Наши клиенты
                        и партнёры
                    </h2>
                    <hr class="color-line" />
                </header>
            </div>
        </div>

        <div class="row">



        </div>

    </div>

</section>
