<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ guarantee ]=-.
    @description: секция гарантии.
-->

<section id="guarantee">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <header class="title">
                    <h2 class="h2 title__header">
                        Компания POTOLOKI является одной
                        из тех компаний которая представляет
                        гарантию 25 лет на все потолки
                    </h2>
                    <hr class="color-line" />
                    <p class="title__sub-header title__sub-header_benefits">
                        Мы уверены, что наши потолки
                        прослужат вам 50 лет и более
                    </p>
                </header>
            </div>
        </div>

        <div class="row hidden-xs">
            <div class="col-xs-12">

                <div class="big-arrow-sm">
                    <!-- Big Arrow -->
                    <div class="big-arrow big-arrow_revers center-block">
                        <!-- Big Arrow inner -->
                        <div class="big-arrow__inner big-arrow__inner_revers">
                            <div class="big-arrow__item">
                                <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_0"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="big-arrow__item">
                                <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_1"></div>
                            </div>
                            <div class="big-arrow__item">
                                <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_2"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="big-arrow__item">
                                <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_3"></div>
                            </div>
                            <div class="big-arrow__item">
                                <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_4"></div>
                            </div>
                            <div class="big-arrow__item">
                                <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_5"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
