<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ guarantee ]=-.
    @description: секция гарантии.
-->

<section id="guarantee">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <header class="title">
                    <h2 class="h2 title__header">
                        Компания POTOLOKI является одной
                        из тех компаний которая представляет
                        гарантию 25 лет на все потолки
                    </h2>
                    <hr class="color-line" />
                    <p class="title__sub-header title__sub-header_benefits">
                        Мы уверены, что наши потолки
                        прослужат вам 50 лет и более
                    </p>
                </header>
            </div>
        </div>

        <div class="row hidden-xs">
            <div class="col-xs-12">

                <div class="big-arrow-sm">
                    <!-- Big Arrow -->
                    <div class="big-arrow big-arrow_revers center-block">
                        <!-- Big Arrow inner -->
                        <div class="big-arrow__inner big-arrow__inner_revers">
                            <div class="big-arrow__item big-arrow__item_padding big-arrow__item_theme_white">
                                <div class="big-arrow__img big-arrow__img_revers big-arrow__img_seq_0">
                                    <img src="assets/img/guarantee/icons/coin.png" class="big-arrow__icon" alt="coin" />
                                    <div class="big-arrow__title">
                                        дёшево
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="big-arrow__item big-arrow__item_padding big-arrow__item_theme_white">
                                <div class="big-arrow__img big-arrow__img_revers big-arrow__img_seq_1">
                                    <img src="assets/img/guarantee/icons/clock.png" class="big-arrow__icon" alt="coin" />
                                    <div class="big-arrow__title">
                                        быстро
                                    </div>
                                </div>
                            </div>
                            <div class="big-arrow__item big-arrow__item_padding big-arrow__item_theme_white">
                                <div class="big-arrow__img big-arrow__img_revers big-arrow__img_seq_2">
                                    <img src="assets/img/guarantee/icons/trophygold.png" class="big-arrow__icon" alt="coin" />
                                    <div class="big-arrow__title">
                                        качественно
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="big-arrow__item big-arrow__item_padding big-arrow__item_theme_white">
                                <div class="big-arrow__img big-arrow__img_revers big-arrow__img_seq_3">
                                    <img src="assets/img/guarantee/icons/broom.png" class="big-arrow__icon" alt="coin" />
                                    <div class="big-arrow__title">
                                        без пыли
                                    </div>
                                </div>
                            </div>
                            <div class="big-arrow__item big-arrow__item_padding big-arrow__item_theme_white">
                                <div class="big-arrow__img big-arrow__img_revers big-arrow__img_seq_4">
                                    <i class="fa fa_color fa-users fa-4x fa-margin" aria-hidden="true"></i>
                                    <div class="big-arrow__title">
                                        нас рекомендуют
                                    </div>
                                </div>
                            </div>
                            <div class="big-arrow__item big-arrow__item_padding big-arrow__item_theme_white">
                                <div class="big-arrow__img big-arrow__img_revers big-arrow__img_seq_5">
                                    <img src="assets/img/guarantee/icons/canvas.png" class="big-arrow__icon" alt="coin" />
                                    <div class="big-arrow__title">
                                        современный дизайн
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
