<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ hero ]=-.
    @description: 1 экран (секция).
-->

<section id="hero">
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-7">
                <header class="title title_h1 title_margin_bottom">
                    <h1 class="h1 title__header">
                        Профессиональный <b>монтаж натяжных потолков</b>
                        из материалов высокого качества
                        от ведущих европейских производителей
                    </h1>
                    <hr class="color-line color-line_h1" />
                    <p class="title__sub-header title__sub-header_benefits">
                        Более 1500 проектов от классики до авангарда.
                        Монтаж за 3 часа с возможностью приобретения
                        натяжных потолков в рассрочку
                    </p>
                </header>
            </div>

            <div class="col-xs-12 col-sm-5">
                <div class="lead-form-wrapper">
                    <div class="lead-form-wrapper__inner">
                        //= ../../modules/forms/lead-form-1.html
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
