<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ new-direction ]=-.
    @description: новое направление в установке натяжных потолков.
    @description: натяжные потолки Apply.
-->

<section id="new-direction">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <header class="title">
                    <h2 class="h2 title__header text-danger">
                        Внимание!!! Уникальное предложение!!!
                    </h1>
                    <hr class="color-line" />
                </header>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-2">

                <!-- Title && descr -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title">
                            <h3 class="h3 title__h3">

                            </h3>
                        </div>

                        <div class="text-desc">

                        </div>
                    </div>
                </div>

                <!-- Переписать -->
                <div class="row visible-sm-block">
                    <div class="col-xs-12">
                        <div class="big-arrow-sm">
                            <!-- Big Arrow -->
                            <div class="big-arrow big-arrow_revers center-block">
                                <!-- Big Arrow inner -->
                                <div class="big-arrow__inner big-arrow__inner_revers">
                                    <div class="big-arrow__item">
                                        <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_0"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="big-arrow__item">
                                        <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_1"></div>
                                    </div>
                                    <div class="big-arrow__item">
                                        <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_2"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="big-arrow__item">
                                        <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_3"></div>
                                    </div>
                                    <div class="big-arrow__item">
                                        <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_4"></div>
                                    </div>
                                    <div class="big-arrow__item">
                                        <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_5"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Form -->
                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <div class="lead-form-wrapper">
                            <div class="lead-form-wrapper__inner">
                                //= ../../modules/forms/lead-form-2.html
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 hidden-xs hidden-sm">
                <div class="big-arrow-md">
                    <!-- Big Arrow -->
                    <div class="big-arrow hidden-xs hidden-sm">
                        <!-- Big Arrow inner -->
                        <div class="big-arrow__inner">
                            <div class="big-arrow__item">
                                <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_0"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="big-arrow__item">
                                <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_1"></div>
                            </div>
                            <div class="big-arrow__item">
                                <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_2"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="big-arrow__item">
                                <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_3"></div>
                            </div>
                            <div class="big-arrow__item">
                                <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_4"></div>
                            </div>
                            <div class="big-arrow__item">
                                <div class="big-arrow__img big-arrow__img_type_apply big-arrow__img_seq_5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
