<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ new-direction ]=-.
    @description: новое направление в установке натяжных потолков.
    @description: натяжные потолки Apply.
-->

<section id="new-direction">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <header class="title">
                    <h2 class="h2 title__header">
                        Новое направление в установке
                        натяжных потолков
                    </h1>
                    <hr class="color-line" />
                </header>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="title">
                            <h3 class="h3 title__h3">
                                Резные потолки
                            </h3>
                        </div>

                        <div class="help-block small">
                            Резные потолки - это потолки нового поколения.
                            Особенность этих потолков - это декоративные вырезы
                            на натяжном полотне. Технология натяжных потолков Apply
                            позволяет художественно оформить потолок совершенно новым
                            способом в отличие от всех ранее существующих.
                            Можно изобразить цветы, фигуры бабочек, лунную
                            поверхность, разные сетки и всё, что угодно.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="lead-form-wrapper">
                            <div class="lead-form-wrapper__inner">
                                //= ../../modules/forms/lead-form-1.html
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
