<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ our-projects ]=-.
    @description: примеры наших работ.
    @prop: отсутствует контейнер (.container), т.е. он расположен выше, у родителя.
    @prop: эта секция "#our-projects" && "#bonuses" на PC+ делят одну строку, в два столбика.
-->

<section id="our-projects">

    <div class="row">
        <div class="col-xs-12">
            <header class="title title_margin_left">
                <h2 class="h2 title__header">
                    Примеры <br />
                    наших работ
                </h2>
                <hr class="color-line color-line_vertical" />
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <div id="our-projects__carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!-- Переписать позиционировани и стиль -->
                <!--<ol class="carousel-indicators">
                    <li data-target="#our-projects__carousel" data-slide-to="0" class="active"> </li>
                    <li data-target="#our-projects__carousel" data-slide-to="1"> </li>
                    <li data-target="#our-projects__carousel" data-slide-to="2"> </li>
                </ol>-->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="project">
                            <img src="assets/img/projects/1/1.jpg" class="project__img img-responsive" alt="Бесшовный натяжной потолок (сатин)" />

                            <div class="project__desc">
                                <div class="project__title">
                                    Бесшовный натяжной потолок
                                </div>

                                <hr />

                                <div class="project__material">
                                    <span class="project__label">Материал: </span> Сатин
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="project">
                            <img src="assets/img/projects/2/1.jpg" class="project__img img-responsive" alt="Бесшовный натяжной потолок (ткань)" />

                            <div class="project__desc">
                                <div class="project__title">
                                    Бесшовный натяжной потолок
                                </div>

                                <hr />

                                <div class="project__material">
                                    <span class="project__label">Материал: </span> Ткань
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="project">
                            <img src="assets/img/projects/3/1.jpg" class="project__img img-responsive" alt="фыв" />

                            <div class="project__desc">
                                <div class="project__title">
                                    Парящий натяжной потолок
                                </div>

                                <hr />

                                <div class="project__material">
                                    <span class="project__label">Материал: </span> сатин
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Controls -->
                <!--<a class="left carousel-control" href="#our-projects__carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#our-projects__carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>-->
            </div>

        </div>
    </div>

</section>
