<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ our-projects ]=-.
    @description: примеры наших работ.
    @prop: отсутствует контейнер (.container), т.е. он расположен выше, у родителя.
    @prop: эта секция "#our-projects" && "#bonuses" на PC+ делят одну строку, в два столбика.
-->

<section id="our-projects">

    <div class="row">
        <div class="col-xs-12">
            <header class="title title_margin_left">
                <h2 class="h2 title__header">
                    Примеры <br />
                    наших работ
                </h2>
                <hr class="color-line color-line_vertical" />
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <div id="our-projects__carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!-- Переписать позиционировани и стиль -->
                <!--<ol class="carousel-indicators">
                    <li data-target="#our-projects__carousel" data-slide-to="0" class="active"> </li>
                    <li data-target="#our-projects__carousel" data-slide-to="1"> </li>
                    <li data-target="#our-projects__carousel" data-slide-to="2"> </li>
                </ol>-->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="project">
                            <a  class="our-projects__img-link imgLinkZoom"
                                data-fancybox="our-projects"
                                data-type="image"
                                data-srcset="assets/img/projects/1/1.jpg?size=large_1600&w=1600&h=960 1600w,
                                             assets/img/projects/1/1.jpg?size=medium_1200&w=1200&h=720 1200w,
                                             assets/img/projects/1/1.jpg?size=small_640&w=640&h=384 640w"
                                data-width="1200"
                                data-height="720"
                                href="assets/img/projects/1/1.jpg?txtsize=33&txt=1_medium_1200%C3%97800&w=1200&h=720">
                                <img src="assets/img/projects/1/1.jpg" class="project__img img-responsive" alt="Бесшовный натяжной потолок (сатин)" />
                            </a>

                            <div class="project__desc">
                                <div class="project__title">
                                    Бесшовный натяжной потолок
                                </div>

                                <hr class="project__hr" />
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="project">
                            <a  class="our-projects__img-link imgLinkZoom"
                                data-fancybox="our-projects"
                                data-type="image"
                                data-srcset="assets/img/projects/2/1.jpg?size=large_1600&w=1600&h=960 1600w,
                                             assets/img/projects/2/1.jpg?size=medium_1200&w=1200&h=720 1200w,
                                             assets/img/projects/2/1.jpg?size=small_640&w=640&h=384 640w"
                                data-width="1200"
                                data-height="720"
                                href="assets/img/projects/2/1.jpg?txtsize=33&txt=1_medium_1200%C3%97800&w=1200&h=720">
                                <img src="assets/img/projects/2/1.jpg" class="project__img img-responsive" alt="Бесшовный натяжной потолок (ткань)" />
                            </a>

                            <div class="project__desc">
                                <div class="project__title">
                                    Бесшовный натяжной потолок
                                </div>

                                <hr class="project__hr" />
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Controls -->
                <!--<a class="left carousel-control" href="#our-projects__carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#our-projects__carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>-->

                <div class="help-block">

                    <div class="controls controls_carousel" id="our-projects__controls">
                        <a class="control-arrow control-arrow_left control-arrow_theme_base control-arrow_size_large" href="#our-projects__carousel" data-slide="prev">
                            <span class="hidden-xs">Предыдущий</span>
                        </a>


                        <a class="control-arrow control-arrow_right control-arrow_theme_base control-arrow_size_large" href="#our-projects__carousel" data-slide="next">
                            <span class="hidden-xs">Следующий</span>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>
