<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ partners ]=-.
    @description: наши партнёры.
-->

<section id="partners">

    <div class="row">
        <div class="col-xs-12">
            <header class="title title_margin_left">
                <h2 class="h2 title__header">
                    Наши партнёры
                </h2>
                <hr class="color-line color-line_vertical" />
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="partner">
                <div class="partner__img">
                    <img src="http://ecohomestyle.ru/public/assets/images/clipso.jpg" alt="" class="img-responsive" />
                </div>
                <div class="partner__title"></div>
            </div>
            <div class="partner">
                <div class="partner__img">
                    <img src="http://ecohomestyle.ru/public/assets/images/clipso.jpg" alt="" class="img-responsive" />
                </div>
                <div class="partner__title"></div>
            </div>
            <div class="clearfix"></div>
            <div class="partner">
                <div class="partner__img">
                    <img src="http://ecohomestyle.ru/public/assets/images/clipso.jpg" alt="" class="img-responsive" />
                </div>
                <div class="partner__title"></div>
            </div>
            <div class="partner">
                <div class="partner__img">
                    <img src="http://ecohomestyle.ru/public/assets/images/clipso.jpg" alt="" class="img-responsive" />
                </div>
                <div class="partner__title"></div>
            </div>
            <div class="clearfix"></div>
            <div class="partner">
                <div class="partner__img">
                    <img src="http://ecohomestyle.ru/public/assets/images/clipso.jpg" alt="" class="img-responsive" />
                </div>
                <div class="partner__title"></div>
            </div>
            <div class="partner">
                <div class="partner__img">
                    <img src="http://ecohomestyle.ru/public/assets/images/clipso.jpg" alt="" class="img-responsive" />
                </div>
                <div class="partner__title"></div>
            </div>

        </div>
    </div>

</section>
