<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ partners ]=-.
    @description: парнёры.
    @name: -=[ reviews ]=-.
    @description: отзывы.
    @prop: секции "#partners" && "#reviews" на PC+ делят одну строку, в два столбика.
-->
<div class="twice-section twice-section_shift_above twice-section_secs_partners-reviews">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-6">
                //= partners.html
            </div>

            <div class="col-xs-12 col-md-6">
                //= reviews.html
            </div>

        </div>
    </div>
</div>
<!-- / Партнёры и отзывы -->
