<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ reviews ]=-.
    @description: отзывы.
-->

<section id="reviews">

    <div class="row">
        <div class="col-xs-12">
            <header class="title title_margin_left">
                <h2 class="h2 title__header">
                    Отзывы наших клиентов
                </h2>
                <hr class="color-line color-line_vertical" />
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="reviews">

                <div id="reviews__carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Переписать позиционировани и стиль -->
                    <!--<ol class="carousel-indicators">
                        <li data-target="#reviews__carousel" data-slide-to="0" class="active"> </li>
                        <li data-target="#reviews__carousel" data-slide-to="1"> </li>
                        <li data-target="#reviews__carousel" data-slide-to="2"> </li>
                    </ol>-->
                    <div class="carousel-inner">

                        <!-- rev 1 -->
                        <div class="item active">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <img src="assets/img/reviews/1.jpg" class="reviews__img img-responsive" alt="" />
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Ометинская В.П.
                                    </div>
                                    <div class="reviews__date">
                                        08 апреля 2015
                                    </div>
                                    <div class="reviews__address">
                                        пр-т Скорины 141/1 - 89
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Выражаю слова благодарности:
                                    </p>
                                    <ul>
                                        <li>чётко, быстро;</li>
                                        <li>профессионально, качественно;</li>
                                        <li>культурно, порядочно.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- rev 2 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <img src="assets/img/reviews/2.jpg" class="reviews__img img-responsive" alt="" />
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Островко Я.О.
                                    </div>
                                    <div class="reviews__date">
                                        15 октября 2016
                                    </div>
                                    <div class="reviews__address">
                                        Осиповичская 8-84
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Спасибо ребятам за отличную работу! Заказывали несколько потолков сразу, получили подробную консультация. Выбранным дизайном довольны. Ребята молодцы - профессионалы своего дела!!!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- rev 3 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <img src="assets/img/reviews/3.jpg" class="reviews__img img-responsive" alt="" />
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Варейко Е.В.
                                    </div>
                                    <div class="reviews__date">
                                        17 декабря 2016
                                    </div>
                                    <div class="reviews__address">
                                        ул. И. Шамякина, 15-56
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Впервые заказали натяжные потолки, остались очень довольны выполненной работой. Всё сделали по желанию клиента. Монтажники приветливы, культурные, выполнили свою работу на отлично.
                                    </p>
                                    <p>Огромное спасибо.</p>
                                </div>
                            </div>
                        </div>

                        <!-- rev 4 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <img src="assets/img/reviews/4.jpg" class="reviews__img img-responsive" alt="" />
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Сеидов Руслан Илхамович
                                    </div>
                                    <div class="reviews__date">
                                        24 января 2017
                                    </div>
                                    <div class="reviews__address">
                                        ул. Калинина, 15-33
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Ребята приехали в срок, сделали качественно, быстро, аккуратно. Очень хорошие специалисты, которые не только профессионально делают свою работу, но и прекрасно умеют общаться с клиентом. Оставили после себя не только красивый потолок, но и хорошее настроение. Огромное Спасибо!!!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- rev 5 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <img src="assets/img/reviews/5.jpg" class="reviews__img img-responsive" alt="" />
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Слепченко Т.В.
                                    </div>
                                    <div class="reviews__date">
                                        20 апреля 2017
                                    </div>
                                    <div class="reviews__address">
                                        ул. Герасименко, 12а-104
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Остались очень довольны результатом работы компании "Potoloki". Всё чётко, своевременно, аккуратно и чисто. Будем советовать своим близким и знакомым.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Controls -->
                    <!--<a class="left carousel-control" href="#reviews__carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#reviews__carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>-->

                    <div class="help-block">

                        <div class="controls controls_carousel" id="reviews__controls">
                            <a class="control-arrow control-arrow_left control-arrow_theme_base control-arrow_size_large" href="#reviews__carousel" data-slide="prev">
                                <span class="hidden-xs">Предыдущий</span>
                            </a>

                            <a class="control-arrow control-arrow_right control-arrow_theme_base control-arrow_size_large" href="#reviews__carousel" data-slide="next">
                                <span class="hidden-xs">Следующий</span>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
