<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ reviews ]=-.
    @description: отзывы.
-->

<section id="reviews">

    <div class="row">
        <div class="col-xs-12">
            <header class="title title_margin_left">
                <h2 class="h2 title__header">
                    Отзывы наших клиентов
                </h2>
                <hr class="color-line color-line_vertical" />
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="reviews">

                <div id="reviews__carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Переписать позиционировани и стиль -->
                    <!--<ol class="carousel-indicators">
                        <li data-target="#reviews__carousel" data-slide-to="0" class="active"> </li>
                        <li data-target="#reviews__carousel" data-slide-to="1"> </li>
                        <li data-target="#reviews__carousel" data-slide-to="2"> </li>
                    </ol>-->
                    <div class="carousel-inner">

                        <!-- rev 1 -->
                        <div class="item active">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <a  class="reviews__media-inner imgLinkZoom"
                                        data-fancybox="reviews"
                                        data-type="image"
                                        data-srcset="assets/img/reviews/1.jpg?size=large_1600&w=1600&h=960 1600w,
                                                     assets/img/reviews/1.jpg?size=medium_1200&w=1200&h=720 1200w,
                                                     assets/img/reviews/1.jpg?size=small_640&w=640&h=384 640w"
                                        data-width="1200"
                                        data-height="720"
                                        href="assets/img/reviews/1.jpg?txtsize=33&txt=1_medium_1200%C3%97800&w=1200&h=720">
                                        <img src="assets/img/reviews/1.jpg" class="reviews__img img-responsive" alt="" />
                                    </a>
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Ометинская В.П.
                                    </div>
                                    <div class="reviews__date">
                                        <!--<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; --><!-- fa-calendar-check-o -->
                                        08 апреля 2015
                                    </div>
                                    <div class="reviews__address">
                                        <!--<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; --><!-- map-marker -->
                                        пр-т Скорины 141/1 - 89
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Выражаю слова благодарности:
                                    </p>
                                    <ul>
                                        <li>чётко, быстро;</li>
                                        <li>профессионально, качественно;</li>
                                        <li>культурно, порядочно.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- rev 2 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <a  class="reviews__media-inner imgLinkZoom"
                                        data-fancybox="reviews"
                                        data-type="image"
                                        data-srcset="assets/img/reviews/2.jpg?size=large_1600&w=1600&h=960 1600w,
                                                     assets/img/reviews/2.jpg?size=medium_1200&w=1200&h=720 1200w,
                                                     assets/img/reviews/2.jpg?size=small_640&w=640&h=384 640w"
                                        data-width="1200"
                                        data-height="720"
                                        href="assets/img/reviews/2.jpg?txtsize=33&txt=1_medium_1200%C3%97800&w=1200&h=720">
                                        <img src="assets/img/reviews/2.jpg" class="reviews__img img-responsive" alt="" />
                                    </a>
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Островко Я.О.
                                    </div>
                                    <div class="reviews__date">
                                        15 октября 2016
                                    </div>
                                    <div class="reviews__address">
                                        Осиповичская 8-84
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Спасибо ребятам за отличную работу! Заказывали несколько потолков сразу, получили подробную консультация. Выбранным дизайном довольны. Ребята молодцы - профессионалы своего дела!!!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- rev 3 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <a  class="reviews__media-inner imgLinkZoom"
                                        data-fancybox="reviews"
                                        data-type="image"
                                        data-srcset="assets/img/reviews/3.jpg?size=large_1600&w=1600&h=960 1600w,
                                                     assets/img/reviews/3.jpg?size=medium_1200&w=1200&h=720 1200w,
                                                     assets/img/reviews/3.jpg?size=small_640&w=640&h=384 640w"
                                        data-width="1200"
                                        data-height="720"
                                        href="assets/img/reviews/3.jpg?txtsize=33&txt=1_medium_1200%C3%97800&w=1200&h=720">
                                        <img src="assets/img/reviews/3.jpg" class="reviews__img img-responsive" alt="" />
                                    </a>
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Варейко Е.В.
                                    </div>
                                    <div class="reviews__date">
                                        17 декабря 2016
                                    </div>
                                    <div class="reviews__address">
                                        ул. И. Шамякина, 15-56
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Впервые заказали натяжные потолки, остались очень довольны выполненной работой. Всё сделали по желанию клиента. Монтажники приветливы, культурные, выполнили свою работу на отлично.
                                    </p>
                                    <p>Огромное спасибо.</p>
                                </div>
                            </div>
                        </div>

                        <!-- rev 4 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <a  class="reviews__media-inner imgLinkZoom"
                                        data-fancybox="reviews"
                                        data-type="image"
                                        data-srcset="assets/img/reviews/4.jpg?size=large_1600&w=1600&h=960 1600w,
                                                     assets/img/reviews/4.jpg?size=medium_1200&w=1200&h=720 1200w,
                                                     assets/img/reviews/4.jpg?size=small_640&w=640&h=384 640w"
                                        data-width="1200"
                                        data-height="720"
                                        href="assets/img/reviews/4.jpg?txtsize=33&txt=1_medium_1200%C3%97800&w=1200&h=720">
                                        <img src="assets/img/reviews/4.jpg" class="reviews__img img-responsive" alt="" />
                                    </a>
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Сеидов Руслан Илхамович
                                    </div>
                                    <div class="reviews__date">
                                        24 января 2017
                                    </div>
                                    <div class="reviews__address">
                                        ул. Калинина, 15-33
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Ребята приехали в срок, сделали качественно, быстро, аккуратно. Очень хорошие специалисты, которые не только профессионально делают свою работу, но и прекрасно умеют общаться с клиентом. Оставили после себя не только красивый потолок, но и хорошее настроение. Огромное Спасибо!!!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- rev 5 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <a  class="reviews__media-inner imgLinkZoom"
                                        data-fancybox="reviews"
                                        data-type="image"
                                        data-srcset="assets/img/reviews/5.jpg?size=large_1600&w=1600&h=960 1600w,
                                                     assets/img/reviews/5.jpg?size=medium_1200&w=1200&h=720 1200w,
                                                     assets/img/reviews/5.jpg?size=small_640&w=640&h=384 640w"
                                        data-width="1200"
                                        data-height="720"
                                        href="assets/img/reviews/5.jpg?txtsize=33&txt=1_medium_1200%C3%97800&w=1200&h=720">
                                        <img src="assets/img/reviews/5.jpg" class="reviews__img img-responsive" alt="" />
                                    </a>
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Слепченко Т.В.
                                    </div>
                                    <div class="reviews__date">
                                        20 апреля 2017
                                    </div>
                                    <div class="reviews__address">
                                        ул. Герасименко, 12а-104
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Остались очень довольны результатом работы компании "Potoloki". Всё чётко, своевременно, аккуратно и чисто. Будем советовать своим близким и знакомым.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- rev 6 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <a  class="reviews__media-inner imgLinkZoom"
                                        data-fancybox="reviews"
                                        data-type="image"
                                        data-srcset="assets/img/reviews/6.jpg?size=large_1600&w=1600&h=960 1600w,
                                                     assets/img/reviews/6.jpg?size=medium_1200&w=1200&h=720 1200w,
                                                     assets/img/reviews/6.jpg?size=small_640&w=640&h=384 640w"
                                        data-width="1200"
                                        data-height="720"
                                        href="assets/img/reviews/6.jpg?txtsize=33&txt=1_medium_1200%C3%97800&w=1200&h=720">
                                        <img src="assets/img/reviews/6.jpg" class="reviews__img img-responsive" alt="" />
                                    </a>
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Майстрович П.А.
                                    </div>
                                    <div class="reviews__date">
                                        02 мая 2017
                                    </div>
                                    <div class="reviews__address">
                                        ул. Нестерова, 86/3-155
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Проделанной работой остались довольны. Работники приехали вовремя, работа шла безостановки. Очень качественно и ответственно сделало. Весь мусор был убран за собой. Спасибо. Удачи в работе!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- rev 7 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <a  class="reviews__media-inner imgLinkZoom"
                                        data-fancybox="reviews"
                                        data-type="image"
                                        data-srcset="assets/img/reviews/7.jpg?size=large_1600&w=1600&h=960 1600w,
                                                     assets/img/reviews/7.jpg?size=medium_1200&w=1200&h=720 1200w,
                                                     assets/img/reviews/7.jpg?size=small_640&w=640&h=384 640w"
                                        data-width="1200"
                                        data-height="720"
                                        href="assets/img/reviews/7.jpg?txtsize=33&txt=1_medium_1200%C3%97800&w=1200&h=720">
                                        <img src="assets/img/reviews/7.jpg" class="reviews__img img-responsive" alt="" />
                                    </a>
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Гапатович В.А.
                                    </div>
                                    <div class="reviews__date">
                                        04 мая 2017
                                    </div>
                                    <div class="reviews__address">
                                        ул. Есенина, 23/1-266
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Посоветовали вашу компанию наши родственники, и мы остались довольны. Рботу проделали быстро и аккуратно. Будем и дальше вас советовать своим знакомым.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- rev 8 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <a  class="reviews__media-inner imgLinkZoom"
                                        data-fancybox="reviews"
                                        data-type="image"
                                        data-srcset="assets/img/reviews/8.jpg?size=large_1600&w=1600&h=960 1600w,
                                                     assets/img/reviews/8.jpg?size=medium_1200&w=1200&h=720 1200w,
                                                     assets/img/reviews/8.jpg?size=small_640&w=640&h=384 640w"
                                        data-width="1200"
                                        data-height="720"
                                        href="assets/img/reviews/8.jpg?txtsize=33&txt=1_medium_1200%C3%97800&w=1200&h=720">
                                        <img src="assets/img/reviews/8.jpg" class="reviews__img img-responsive" alt="" />
                                    </a>
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Герасевич М.Д.
                                    </div>
                                    <div class="reviews__date">
                                        22 мая 2017
                                    </div>
                                    <div class="reviews__address">
                                        ул. Золотая Горка, 11-47
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Работа выполенан быстро и очень качественно. Приехали в оговоренное время, а после себя оставили чистоту.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- rev 9 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <a  class="reviews__media-inner imgLinkZoom"
                                        data-fancybox="reviews"
                                        data-type="image"
                                        data-srcset="assets/img/reviews/9.jpg?size=large_1600&w=1600&h=960 1600w,
                                                     assets/img/reviews/9.jpg?size=medium_1200&w=1200&h=720 1200w,
                                                     assets/img/reviews/9.jpg?size=small_640&w=640&h=384 640w"
                                        data-width="1200"
                                        data-height="720"
                                        href="assets/img/reviews/9.jpg?txtsize=33&txt=1_medium_1200%C3%97800&w=1200&h=720">
                                        <img src="assets/img/reviews/9.jpg" class="reviews__img img-responsive" alt="" />
                                    </a>
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Камышик С.А.
                                    </div>
                                    <div class="reviews__date">
                                        27 мая 2017
                                    </div>
                                    <div class="reviews__address">
                                        ул. Нестерова, 55-38
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Ребята приехали по&nbsp;первому вызову, всё сделали быстро, качественно, красиво. Работой довольна, в&nbsp;дальнейшем буду их&nbsp;рекламировать своим друзьям и&nbsp;знакомым.
                                        Спасибо за&nbsp;работу.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- rev 10 -->
                        <div class="item">
                            <div class="reviews__review">
                                <div class="reviews__media">
                                    <a  class="reviews__media-inner imgLinkZoom"
                                        data-fancybox="reviews"
                                        data-type="image"
                                        data-srcset="assets/img/reviews/10.jpg?size=large_1600&w=1600&h=960 1600w,
                                                     assets/img/reviews/10.jpg?size=medium_1200&w=1200&h=720 1200w,
                                                     assets/img/reviews/10.jpg?size=small_640&w=640&h=384 640w"
                                        data-width="1200"
                                        data-height="720"
                                        href="assets/img/reviews/10.jpg?txtsize=33&txt=1_medium_1200%C3%97800&w=1200&h=720">
                                        <img src="assets/img/reviews/10.jpg" class="reviews__img img-responsive" alt="" />
                                    </a>
                                </div>
                                <div class="reviews__title">
                                    <div class="reviews__name">
                                        Лухвич Е.В.
                                    </div>
                                    <div class="reviews__date">
                                        29 мая 2017
                                    </div>
                                    <div class="reviews__address">
                                        ул. Корженевского, 31-36
                                    </div>
                                </div>
                                <div class="reviews__comment">
                                    <p>
                                        Спасибо за выполненную работу. Потолки сделаны высокопрофессионально, быстро.
                                    </p>
                                    <p>Спасибо</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Controls -->
                    <!--<a class="left carousel-control" href="#reviews__carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#reviews__carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>-->

                    <div class="help-block">

                        <div class="controls controls_carousel" id="reviews__controls">
                            <a class="control-arrow control-arrow_left control-arrow_theme_base control-arrow_size_large" href="#reviews__carousel" data-slide="prev">
                                <span class="hidden-xs">Предыдущий</span>
                            </a>

                            <a class="control-arrow control-arrow_right control-arrow_theme_base control-arrow_size_large" href="#reviews__carousel" data-slide="next">
                                <span class="hidden-xs">Следующий</span>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
