<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ scheme-work ]=-.
    @description: секция схемы работы.
-->

<section id="scheme-work">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <header class="title">
                    <h2 class="h2 title__header">
                        3 простых шага для вашего комфорта
                    </h2>
                    <p class="title__sub-header title__sub-header_benefits">
                        при покупке натяжных потолков
                    </p>
                    <hr class="color-line" />
                </header>
            </div>
        </div>

        <div class="row">
            <!--
                .col-xs-12.col-md-4(.work-step.ball(.ball__img.work-step__img.work-step__img_seq_$+.ball__title{title}+.ball__desc{description}))*3
            -->

            <div class="col-xs-12 col-md-4">
                <div class="work-step ball">
                    <div class="ball__img work-step__img work-step__img_seq_1">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa_color fa-square-o fa-stack-2x" aria-hidden="true"></i>
                            <img src="assets/img/scheme-work/icons/phone.png" class="work-step__icon" alt="Звонок" />
                        </span>
                    </div>
                    <div class="ball__title">
                        Звонок или заявка
                    </div>
                    <div class="ball__desc">
                        Звоните нам или оставляйте
                        заявку на нашем сайте
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="work-step ball">
                    <div class="ball__img work-step__img work-step__img_seq_2">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa_color fa-square-o fa-stack-2x" aria-hidden="true"></i>
                            <img src="assets/img/scheme-work/icons/man.png" class="work-step__icon" alt="Специалист" />
                        </span>
                    </div>
                    <div class="ball__title">
                        Выезд специалиста,
                        подписание договора
                    </div>
                    <div class="ball__desc">
                        Специалист разрабатывает дизайн
                        и делает расчёт
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="work-step ball">
                    <div class="ball__img work-step__img work-step__img_seq_3">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa_color fa-square-o fa-stack-2x" aria-hidden="true"></i>
                            <img src="assets/img/scheme-work/icons/drill.png" class="work-step__icon" alt="Монтаж" />
                        </span>
                    </div>
                    <div class="ball__title">
                        Монтаж
                    </div>
                    <div class="ball__desc">
                        Устанавливаем Вам натяжной
                        потолок
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="lead-form-wrapper">
                    <div class="lead-form-wrapper__inner">
                        //= ../../modules/forms/lead-form-inline-1.html
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
