<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ scheme-work ]=-.
    @description: секция схемы работы.
-->

<section id="scheme-work">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <header class="title">
                    <h2 class="h2 title__header">
                        3 простых шага для вашего комфорта
                    </h2>
                    <p class="title__sub-header title__sub-header_benefits">
                        при покупке натяжных потолков
                    </p>
                    <hr class="color-line" />
                </header>
            </div>
        </div>

        <div class="row">
            <!--
                .col-xs-12.col-md-4(.scheme-work.ball(.ball__img.scheme-work__img_seq_$+.ball__title{title}+.ball__desc{description}))*3
            -->

            <div class="col-xs-12 col-md-4">
                <div class="scheme-work ball">
                    <div class="ball__img scheme-work__img_seq_1"></div>
                    <div class="ball__title">
                        Звонок или заявка
                    </div>
                    <div class="ball__desc">
                        Звоните нам оставляйте заявку
                        на нашем сайте
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="scheme-work ball">
                    <div class="ball__img scheme-work__img_seq_2"></div>
                    <div class="ball__title">
                        Выезд специалиста,
                        подписание договора
                    </div>
                    <div class="ball__desc">
                        Специалист разрабатывает дизайн
                        и делает расчёт
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="scheme-work ball">
                    <div class="ball__img scheme-work__img_seq_3"></div>
                    <div class="ball__title">
                        Монтаж
                    </div>
                    <div class="ball__desc">
                        Устанавливаем Вам натяжной
                        потолок
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
