<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ terms-purchase ]=-.
    @description: секция условий приобретения.
-->

<section id="terms-purchase">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <header class="title">
                    <h2 class="h2 title__header">
                        Условия приобретения
                    </h2>
                    <hr class="color-line" />
                </header>
            </div>
        </div>

        <div class="row">

            <!--
                .col-xs-12.col-md-4(.terms-purchase.ball(.ball__img.terms-purchase__img_seq_$+.ball__title{title}))*3
            -->

            <div class="col-xs-12 col-md-4">
                <div class="terms-purchase ball">
                    <div class="ball__img ball__img_inline terms-purchase__img_seq_1">
                        <i class="fa fa_color fa-file-text-o fa-4x fa-margin" aria-hidden="true"></i>
                    </div>
                    <div class="ball__title ball__title_inline">
                        Договор, гарантия
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="terms-purchase ball">
                    <div class="ball__img ball__img_inline terms-purchase__img_seq_2">
                        <i class="fa fa_color fa-bullseye fa-4x fa-margin" aria-hidden="true"></i>
                    </div>
                    <div class="ball__title ball__title_inline">
                        Установка &quot;под ключ&quot;
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="terms-purchase ball">
                    <div class="ball__img ball__img_inline terms-purchase__img_seq_3">
                        <i class="fa fa_color fa-pie-chart fa-4x fa-margin" aria-hidden="true"></i>
                    </div>
                    <div class="ball__title ball__title_inline">
                        Возможна рассрочка
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="lead-form-wrapper">
                    <div class="lead-form-wrapper__inner">
                        //= ../../modules/forms/lead-form-inline-1.html
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
