<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ types-ceilings ]=-.
    @description: секция видов потолков.
-->

<section id="types-ceilings">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <header class="title title_margin_left">
                    <h2 class="h2 title__header">
                        Виды натяжных потолков
                    </h2>
                    <p class="title__sub-header title__sub-header_benefits">
                        Натяжные потолки для любых интерьерных решений!
                    </p>
                    <hr class="color-line color-line_vertical" />
                </header>
            </div>
        </div>

        <div class="row">
            <!--
                .col-xs-12.col-sm-6.col-md-4()*7
            -->

            <div class="col-xs-12 col-sm-6 col-md-4"></div>
            <div class="col-xs-12 col-sm-6 col-md-4"></div>
            <div class="col-xs-12 col-sm-6 col-md-4"></div>
            <div class="col-xs-12 col-sm-6 col-md-4"></div>
            <div class="col-xs-12 col-sm-6 col-md-4"></div>
            <div class="col-xs-12 col-sm-6 col-md-4"></div>
            <div class="col-xs-12 col-sm-6 col-md-4"></div>
        </div>

    </div>

</section>
