<!--
    ![ SKETCH ]
-->
<!--
    @name: -=[ types-ceilings ]=-.
    @description: секция видов потолков.
-->

<section id="types-ceilings">

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <header class="title title_margin_left">
                    <h2 class="h2 title__header">
                        Виды натяжных потолков
                    </h2>
                    <p class="title__sub-header title__sub-header_benefits">
                        Натяжные потолки для любых интерьерных решений!
                    </p>
                    <hr class="color-line color-line_vertical" />
                </header>
            </div>
        </div>

        <div class="row">
            <!--
                .col-xs-12.col-sm-6.col-md-4(.type-ceiling(.type-ceiling__img(img.img-responsive.center-block[src="assets/img/types-ceilings/two-level/1.jpg" alt="двухуровневые" title="двухуровневые"])+.type-ceiling__bottom(.type-ceiling__title{Двухуровневые})))*7
            -->

           <!--
                двухуровневые
                с подсветкой
                бесшовные
                с фотопечатью
                криволинейные
                тканевые
                "парящие линии"
                ---------------
                two-level
                with illumination
                seamless
                with photo printing
                curvilinear
                tissue
                "soaring lines"
           -->

            <!-- Двухуровневые -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="type-ceiling">
                    <div id="types-ceilings__carousel_two-level" class="carousel slide" data-ride="carousel" data-interval="0">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="type-ceiling__img">
                                    <img src="assets/img/types-ceilings/two-level/1.jpg" alt="двухуровневые" class="img-responsive center-block" title="двухуровневые" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="type-ceiling__img">
                                    <img src="assets/img/types-ceilings/two-level/1.jpg" alt="двухуровневые" class="img-responsive center-block" title="двухуровневые" />
                                </div>
                            </div>
                        </div>

                        <div class="controls" id="types-ceilings__controls_two-level">
                            <a class="left carousel-control" href="#types-ceilings__carousel_two-level" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>

                            <a class="right carousel-control" href="#types-ceilings__carousel_two-level" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                    <div class="type-ceiling__bottom">
                        <div class="type-ceiling__title">Многоуровневые</div>
                    </div>
                </div>
            </div>

            <!-- С подсветкой -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="type-ceiling">
                    <div id="types-ceilings__carousel_with-illumination" class="carousel slide" data-ride="carousel" data-interval="0">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="type-ceiling__img">
                                    <img src="assets/img/types-ceilings/with-illumination/1.jpg" alt="с подсветкой" class="img-responsive center-block" title="с подсветкой" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="type-ceiling__img">
                                    <img src="assets/img/types-ceilings/with-illumination/1.jpg" alt="с подсветкой" class="img-responsive center-block" title="с подсветкой" />
                                </div>
                            </div>
                        </div>

                        <div class="controls" id="types-ceilings__controls_with-illumination">
                            <a class="left carousel-control" href="#types-ceilings__carousel_with-illumination" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>

                            <a class="right carousel-control" href="#types-ceilings__carousel_with-illumination" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                    <div class="type-ceiling__bottom">
                        <div class="type-ceiling__title">С подсветкой</div>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <!-- Бесшовные -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="type-ceiling">
                    <div id="types-ceilings__carousel_seamless" class="carousel slide" data-ride="carousel" data-interval="0">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="type-ceiling__img">
                                    <img src="assets/img/types-ceilings/seamless/1.jpg" alt="бесшовные" class="img-responsive center-block" title="бесшовные" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="type-ceiling__img">
                                    <img src="assets/img/types-ceilings/seamless/1.jpg" alt="бесшовные" class="img-responsive center-block" title="бесшовные" />
                                </div>
                            </div>
                        </div>

                        <div class="controls" id="types-ceilings__controls_seamless">
                            <a class="left carousel-control" href="#types-ceilings__carousel_seamless" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>

                            <a class="right carousel-control" href="#types-ceilings__carousel_seamless" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                    <div class="type-ceiling__bottom">
                        <div class="type-ceiling__title">Бесшовные</div>
                    </div>
                </div>
            </div>

            <div class="clearfix hidden-sm"></div>

            <!-- С фотопечатью -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="type-ceiling">
                    <div id="types-ceilings__carousel_photo-printing" class="carousel slide" data-ride="carousel" data-interval="0">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="type-ceiling__img">
                                    <img src="assets/img/types-ceilings/photo-printing/1.jpg" alt="с фотопечатью" class="img-responsive center-block" title="с фотопечатью" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="type-ceiling__img">
                                    <img src="assets/img/types-ceilings/photo-printing/1.jpg" alt="с фотопечатью" class="img-responsive center-block" title="с фотопечатью" />
                                </div>
                            </div>
                        </div>

                        <div class="controls" id="types-ceilings__controls_photo-printing">
                            <a class="left carousel-control" href="#types-ceilings__carousel_photo-printing" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>

                            <a class="right carousel-control" href="#types-ceilings__carousel_photo-printing" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                    <div class="type-ceiling__bottom">
                        <div class="type-ceiling__title">С фотопечатью</div>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <!-- "Парящие линии" -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="type-ceiling">
                    <div id="types-ceilings__carousel_soaring-lines" class="carousel slide" data-ride="carousel" data-interval="0">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="type-ceiling__img">
                                    <img src="assets/img/types-ceilings/soaring-lines/1.jpg" alt="парящие линии" class="img-responsive center-block" title="парящие линии" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="type-ceiling__img">
                                    <img src="assets/img/types-ceilings/soaring-lines/1.jpg" alt="парящие линии" class="img-responsive center-block" title="парящие линии" />
                                </div>
                            </div>
                        </div>

                        <div class="controls" id="types-ceilings__controls_soaring-lines">
                            <a class="left carousel-control" href="#types-ceilings__carousel_soaring-lines" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>

                            <a class="right carousel-control" href="#types-ceilings__carousel_soaring-lines" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                    <div class="type-ceiling__bottom">
                        <div class="type-ceiling__title">"Парящие линии"</div>
                    </div>
                </div>
            </div>

            <!-- Тканевые -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="type-ceiling">
                    <div id="types-ceilings__carousel_tissue" class="carousel slide" data-ride="carousel" data-interval="0">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="type-ceiling__img">
                                    <img src="assets/img/types-ceilings/tissue/1.jpg" alt="тканевые" class="img-responsive center-block" title="тканевые" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="type-ceiling__img">
                                    <img src="assets/img/types-ceilings/tissue/1.jpg" alt="тканевые" class="img-responsive center-block" title="тканевые" />
                                </div>
                            </div>
                        </div>

                        <div class="controls" id="types-ceilings__controls_tissue">
                            <a class="left carousel-control" href="#types-ceilings__carousel_tissue" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>

                            <a class="right carousel-control" href="#types-ceilings__carousel_tissue" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                    <div class="type-ceiling__bottom">
                        <div class="type-ceiling__title">Тканевые</div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

    </div>

</section>
