<footer id="footer" role="contentinfo">

    <div class="map">
        <div class="container">
            <div class="row">

                <div id="gmap"></div>
                <div id="ymap"></div>

            </div>
        </div>
    </div>

    <div class="footer-info">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-4">
                    <div class="row">
                        <div class="col-xs-5 col-sm-4">
                            <div class="font_title footer-info__title">
                                Адрес
                            </div>
                        </div>
                        <div class="col-xs-7 col-sm-8">
                            <div class="footer-info__content">
                                Минск, Казинца, 123
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row">
                        <div class="col-xs-5 col-sm-4">
                            <div class="font_title footer-info__title">
                                Телефон
                            </div>
                        </div>
                        <div class="col-xs-7 col-sm-8">
                            <div class="footer-info__content">
                                +375 (29) 123-45-67
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row">
                        <div class="col-xs-5 col-sm-4">
                            <div class="font_title footer-info__title">
                                Реквизиты
                            </div>
                        </div>
                        <div class="col-xs-7 col-sm-8">
                            <div class="footer-info__content">
                                УНП 123456789
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</footer>
