<footer id="footer" role="contentinfo">

    <div class="map">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div id="gmap"></div>
                    <div id="ymap"></div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-info">
                    <div class="row">

                        <div class="col-xs-12 col-md-4">
                            <div class="row">
                                <div class="col-xs-5 col-sm-4">
                                    <div class="font_title footer-info__title">
                                        Адрес
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <div class="footer-info__content">
                                        Минск, Казинца, 123
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-4">
                            <div class="row">
                                <div class="col-xs-5 col-sm-4">
                                    <div class="font_title footer-info__title">
                                        Телефон
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <div class="footer-info__content" id="contacts">
                                        <!-- Mobile -->
                                        <p>
                                            <a href="tel:+375336341266" class="btn btn-link" aria-label="Связаться с менеджером POTOLOKI">
                                                +375 (33) 634-12-66
                                            </a>
                                            <a href="tel:+375333331030" class="btn btn-link" aria-label="Связаться с менеджером POTOLOKI">
                                                +375 (33) 333-10-30
                                            </a>
                                        </p>
                                        <p>
                                            <a href="mailto:client@potoloki.by" class="btn btn-link" aria-label="Связаться с менеджером POTOLOKI">
                                                client@potoloki.by
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-4">
                            <div class="row">
                                <div class="col-xs-5 col-sm-4">
                                    <div class="font_title footer-info__title">
                                        Реквизиты
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <div class="footer-info__content">
                                        УНП 123456789
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="developer text-center">
                    Разработка сайта Web2Web
                </div>

            </div>
        </div>
    </div>

</footer>
