<header id="header">

    <nav class="navbar_main navbar navbar-default navbar-fixed-top" id="navbar_main">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_main" aria-expanded="false">
                            <span class="sr-only">Развернуть навигацию</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#header" class="navbar-brand btn scrollTo">
                            <img src="assets/img/logo.png" class="navbar-brand__logo" alt="POTOLOKI">

                            <span class="navbar-brand__descript hidden-xs">
                                Продажа и установка натяжных потолков
                                любой сложности в Минске и Минской области
                            </span>
                        </a>
                    </div>

                    <div class="navbar__contacts navbar-right hidden-xs">
                        <div class="contacts contacts_navbar">

                            <div class="contacts__item contacts__item_navbar">
                                <a href="tel:+375336341266" class="btn btn-link" aria-label="Связаться с менеджером POTOLOKI">
                                    <span class="contacts__img">
                                        <i class="fa fa-volume-control-phone fa-2x pull-left" aria-hidden="true"></i>
                                    </span>
                                    <span class="contacts__content">
                                        <span class="contacts__lable">
                                            Звоните нам по номеру:
                                        </span>
                                        <br />
                                        <span class="contacts__contact">
                                            +375 (33) 634-12-66
                                        </span>
                                    </span>
                                </a>
                            </div>

                            <div class="contacts__item contacts__item_navbar hidden-xs hidden-sm">
                                <a href="mailto:client@potoloki.by" class="btn btn-link" aria-label="Связаться с менеджером POTOLOKI">
                                    <span class="contacts__img">
                                        <i class="fa fa-envelope-o fa-2x pull-left" aria-hidden="true"></i>
                                    </span>
                                    <span class="contacts__content">
                                        <span class="contacts__lable">
                                            Пишите нам на почту:
                                        </span>
                                        <br />
                                        <span class="contacts__contact">
                                            client@potoloki.by
                                        </span>
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="menu_main">
                        <ul class="nav navbar-nav">
                            <li class="navbar-nav__item">
                                <a href="#advantages" class="scrollTo">Преимущества</a>
                            </li>
                            <li class="navbar-nav__item">
                                <a href="#types-ceilings" class="scrollTo">Виды потолков</a>
                            </li>
                            <li class="navbar-nav__item">
                                <a href="#about" class="scrollTo">О компании</a>
                            </li>
                            <li class="navbar-nav__item">
                                <a href="#bonuses" class="scrollTo">Бонусы</a>
                            </li>
                            <li class="navbar-nav__item">
                                <a href="#our-projects" class="scrollTo">Наши проекты</a>
                            </li>
                            <li class="navbar-nav__item">
                                <a href="#reviews" class="scrollTo">Отзывы</a>
                            </li>
                            <li class="navbar-nav__item">
                                <a href="#contacts" class="scrollTo">Контакты</a>
                            </li>
                        </ul>

                        <div class="navbar-right hidden-xs hidden-sm">
                            <div class="contacts contacts_navbar">

                                <div class="contacts__item contacts__item_navbar contacts__item_order_call">
                                    <a href="#modal_order-call-1" class="btn" aria-label="Связаться с менеджером POTOLOKI" data-toggle="modal">
                                        <span class="contacts__content">
                                            <span class="contacts__lable">
                                                Заказать обратный звонок
                                            </span>
                                        </span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.navbar-collapse -->

                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </nav>

</header>
