@charset "UTF-8";

/// @BemEntryName: -=[ rhombus ]=-.
/// @BemElementName: -=[ inner ]=-.
/// @BemElementModName: -=[ decorate ]=-.
/// @BemElementModValue: -=[ form ]=-.
/// @description: оформление для формы.
.rhombus__inner_decorate_form {
    border-color: map-get($colors, "default");
    border-style: solid;
    border-width: 1px;
}
