@charset "UTF-8";

/// @varName: -=[ work-step__imgCount ]=-.
/// @description: количество картинок.
$work-step__imgCount: 3;

/// @BemEntryName: -=[ work-step ]=-.
/// @BemElementName: -=[ img ]=-.
/// @BemElementModName: -=[ seq ]=-.
/// @BemElementModValue: -=[ 1..3 ]=-.
/// @require: parent.bgi (sprite).
/// @require: $sprite__length.
/// @description: фоновая картинка для шага работы.

@for $i from 1 through $work-step__imgCount {
    .work-step__img_seq_#{$i} {
        $length: -$sprite__length*$i;
        background-position: $length 0 ;
    }
}
