@charset "UTF-8";

/// @BemEntryName: -=[ type-ceiling ]=-.
/// @description: контейнер типа потолка.
.type-ceiling {
    background-color: #fff;
    border: 1px solid scotch-color-level('default', 6);
    border-color: transparent;
    border-radius: 5px;
    //padding: 5px;
    overflow: hidden;
    margin: 15px 0;
    @include transition();

    &:hover {
        box-shadow: 0px 0px 60px scotch-color-level('default', 6);

        /* переписать по BEM */
        .type-ceiling__title {
            text-decoration: underline;
        }
    }
}
