@charset "UTF-8";

/// @varName: -=[ advantage__imgCount ]=-.
/// @description: количество картинок.
$big-arrow__imgCount: 6;

/// @BemEntryName: -=[ big-arrow ]=-.
/// @BemElementName: -=[ img ]=-.
/// @BemElementModName: -=[ seq ]=-.
/// @BemElementModValue: -=[ 1..6 ]=-.
/// @require: parent.bgi (sprite).
/// @require: $big-arrowSprite__length.
/// @description: фоновая картинка для преимуществ.

@for $i from 1 through $big-arrow__imgCount {
    .big-arrow__img_seq_#{$i} {
        $length: -$big-arrowSprite__length*$i;
        background-position: $length 0 ;
    }
}
