@charset "UTF-8";

/// @BemEntryName: -=[ form ]=-.
/// @BemEntryModName: -=[ theme ]=-.
/// @BemEntryModValue: -=[ white ]=-.
/// @description: мод белое оформление формы.
.form_theme_white {
    background-color: #fff;
    margin-bottom: 35px; /* 50px */
    /*padding: 30px !important;*/
    padding: 30px 30px 46px !important;
    box-shadow: 0px 0px 60px scotch-color-level('default', 6);
    padding: 15px 15px 30px;

    /// @name: -=[ breakpoint ]=-;
    /// @description: функция-помошник работы с медиа запросами (breakpoints);
    /// @prop: xs, sm, md, lg (bootstrap);
    /// @prop: ($maxWidth: x, $minWidth: x, $maxHeight: x, $minHeight: x), где x - число с "px";
    @include breakpoint(md) {
        /*padding: 30px 30px 45px;*/
        padding: 30px;
    }
}
