@charset "UTF-8";

/// @BemEntryName: -=[ form ]=-.
/// @BemEntryModName: -=[ theme ]=-.
/// @BemEntryModValue: -=[ white ]=-.
/// @description: мод белое оформление формы.
.form_theme_white {
    background-color: #fff;
    margin-bottom: 35px; /* 50px */
    /*padding: 30px !important;*/
    padding: 30px 30px 46px !important;
}
