@charset "UTF-8";

#footer {
    background-color: scotch-color-level('default', 9);
    background-image: url(../img/guarantee/bg.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: auto;
}

#gmap {
    height: 400px;
}
