<!--
    ![ MODAL__THANK-YOU ]
-->
<!--
    @name: -=[ .modal__thank-you ]=-.
    @description: модальное окно лид формы.
    @require: lead-form-modal.
-->

<div class="modal fade" id="modal__thank-you" tabindex="-1" role="dialog" aria-labelledby="modal__thank-you__title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal__thank-you__title">Благодарим Вас</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-12">

                        <div class="">
                            <p>
                                Мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшие 30&nbsp;мин.
                            </p>
                        </div>

                        <div class="help-block">
                            <p>
                                Если Вы&nbsp;оставили заявку в&nbsp;промежутке 22:00&nbsp;&mdash; 10:00,
                                то&nbsp;мы&nbsp;свяжемся утром после 10:00.
                            </p>
                        </div>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
