@charset "UTF-8";

.color-line {
    background-color: #6f6f6f;
    background: #6f6f6f;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4291bd+25,118f40+50,fec135+75&1+0,0.5+100,1+100 */
    background: -moz-linear-gradient(left, rgba(66, 145, 189, 1) 0%, rgba(66, 145, 189, 1) 25%, rgba(17, 143, 64, 1) 50%, rgba(254, 193, 53, 1) 75%, rgba(254, 193, 53, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(66, 145, 189, 1) 0%, rgba(66, 145, 189, 1) 25%, rgba(17, 143, 64, 1) 50%, rgba(254, 193, 53, 1) 75%, rgba(254, 193, 53, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(66, 145, 189, 1) 0%, rgba(66, 145, 189, 1) 25%, rgba(17, 143, 64, 1) 50%, rgba(254, 193, 53, 1) 75%, rgba(254, 193, 53, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4291bd', endColorstr='#fec135', GradientType=1); /* IE6-9 */

    border: 0;
    @include size(70px, 1px);
}
