@charset "UTF-8";

/// @BemEntryName: -=[ title ]=-.
/// @BemElementName: -=[ h3 ]=-.
/// @description: подзаголовок 3-его уровня.
.title__h3 {
    font-size: 1.5em;
    text-align: left;
    letter-spacing: 0.1em;
}
